.page #EXAMPLES {
    font-weight: bold;
    text-align: center;
}

.page #EXAMPLES > form > div {
    padding: 10px 20px;
}

.page #ABOUT {
    font-style: italic;
}

/******************************************************************************************************************************************/

.pano > .pano {
    width: 90%;
    height: 90%;

    border-radius: 10px;
    box-shadow: 0 0 30px black;
    position: absolute;
}